<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div style="padding-bottom:2px">
                        <h5 style="text-align: center;" class="m-0 text-dark">
                            202102241 Ronny
                        </h5>
                    </div>
                    
                </div>
                    
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">
                        <table id="table1" class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>NIM</th>
                                    <th>Nama</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Tempat, Tanggal Lahir</th>
                                    <th>JP</th>
                                    <th>Alamat</th>
                                    <th>Status</th>
                                    <th>Tahun Masuk</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>


    </div>
    
</div>


